.button{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 35px;
	width: 80px;
	color: #fff;
	padding: 0;
	border: none;
	background-color: transparent;
	border-radius: 6px;
	cursor: pointer;
	transition: 0.3s;

	&--1{
		background-color: #4973ff;

		&:hover{
			background-color: darken(#4973ff, 5%);
		}

	}

	&--2{
		background-color: #069c06;
	}

	&--3{
		background-color: #d9534f;
	}

}