.field {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    width: 100%;
    height: 35px;
    padding-left: 10px;
    padding-right: 10px;
    color: #5e5e5e;

    &::placeholder {
        color: #5e5e5e;
    }

    &--textarea{
        height: 80px;
        resize: none;
    }

}
