.header-title{
	display: flex;
	align-items: center;
	font-size: 36px;
	color: #788197;
	font-weight: 700;
	white-space: nowrap;

	&::before{
		content: '';
		display: block;
		width: 10px;
		height: 50px;
		background-color: #e4e6e9;
		margin-right: 16px;
	}

	&::after{
		content: '';
		display: block;
		height: 3px;
		width: 100%;
		background-color: #e4e6e9;
		margin-left: 25px;
	}

	span{
		flex-shrink: 0;
	}

}